In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import os

df=pd.read_excel('C:\\yehuikim\\2020summer\\프로젝트2\\데이터셋\\feature_data\\시간대별_매출_신서점_180301_200731.xls')
# , index=False
df.head()

,매장명,판매일자,0,1,2,3,4,5,6,7,...,15,16,17,18,19,20,21,22,23,합계
0,무보까국밥(신서점),2018-03-01,54500,0,75500,0,0,0,0,0,...,0,13000,70000,128000,92500,86500,242500,116000,11000,1132000
1,무보까국밥(신서점),2018-03-02,6500,40500,0,0,0,0,0,0,...,20000,0,34500,59000,46500,52000,49500,24000,120000,793500
2,무보까국밥(신서점),2018-03-03,6500,0,0,0,0,0,0,0,...,31000,0,0,105000,106000,92500,0,32000,0,553000
3,무보까국밥(신서점),2018-03-04,40000,21500,131000,0,0,0,0,0,...,62000,63000,17000,120000,67500,48500,57000,26000,38000,891500
4,무보까국밥(신서점),2018-03-05,0,0,0,0,0,0,0,0,...,31500,46000,6500,57500,17000,100500,65500,56000,65500,645500

### 인덱스를 판매일자 column으로 바꾸기
: df.set_index('바꿀 열 이름')

In [2]:
df = df.set_index('판매일자')
df.head()

,매장명,0,1,2,3,4,5,6,7,8,...,15,16,17,18,19,20,21,22,23,합계
판매일자,,,,,,,,,,,,,,,,,,,,,
2018-03-01,무보까국밥(신서점),54500,0,75500,0,0,0,0,0,0,...,0,13000,70000,128000,92500,86500,242500,116000,11000,1132000
2018-03-02,무보까국밥(신서점),6500,40500,0,0,0,0,0,0,0,...,20000,0,34500,59000,46500,52000,49500,24000,120000,793500
2018-03-03,무보까국밥(신서점),6500,0,0,0,0,0,0,0,0,...,31000,0,0,105000,106000,92500,0,32000,0,553000
2018-03-04,무보까국밥(신서점),40000,21500,131000,0,0,0,0,0,0,...,62000,63000,17000,120000,67500,48500,57000,26000,38000,891500
2018-03-05,무보까국밥(신서점),0,0,0,0,0,0,0,0,0,...,31500,46000,6500,57500,17000,100500,65500,56000,65500,645500

In [3]:
df.tail()

,매장명,0,1,2,3,4,5,6,7,8,...,15,16,17,18,19,20,21,22,23,합계
판매일자,,,,,,,,,,,,,,,,,,,,,
2020-07-28,무보까국밥(신서점),0,0,0,0,0,0,0,0,0,...,0,0,46000,64000,181000,433000,12000,0,0,1305000
2020-07-29,무보까국밥(신서점),0,0,0,0,0,0,0,0,0,...,0,0,136000,99000,321000,241000,95000,27000,0,1507000
2020-07-30,무보까국밥(신서점),0,0,0,0,0,0,0,0,0,...,60000,27000,625000,90000,339000,122000,63000,0,0,1700000
2020-07-31,무보까국밥(신서점),0,0,0,0,0,0,0,0,0,...,46000,32000,0,225000,70000,234000,271000,0,0,1391000
NaN,NaN,10935400,6823100,3595500,638000,125500,0,0,18500,1549500,...,39201000,28785000,37309450,72699350,119805800,110515500,79180000,39190500,21447000,951092490

### 마지막행 제거

In [4]:
kk=len(df)
df = df.drop([df.index[kk-1]])
df.tail()

,매장명,0,1,2,3,4,5,6,7,8,...,15,16,17,18,19,20,21,22,23,합계
판매일자,,,,,,,,,,,,,,,,,,,,,
2020-07-27,무보까국밥(신서점),0,0,0,0,0,0,0,0,0,...,0,36000,96000,133000,242000,130000,0,0,0,1247000
2020-07-28,무보까국밥(신서점),0,0,0,0,0,0,0,0,0,...,0,0,46000,64000,181000,433000,12000,0,0,1305000
2020-07-29,무보까국밥(신서점),0,0,0,0,0,0,0,0,0,...,0,0,136000,99000,321000,241000,95000,27000,0,1507000
2020-07-30,무보까국밥(신서점),0,0,0,0,0,0,0,0,0,...,60000,27000,625000,90000,339000,122000,63000,0,0,1700000
2020-07-31,무보까국밥(신서점),0,0,0,0,0,0,0,0,0,...,46000,32000,0,225000,70000,234000,271000,0,0,1391000

### 행열 전치

In [5]:
df = df.T
df.tail()

판매일자,2018-03-01,2018-03-02,2018-03-03,2018-03-04,2018-03-05,2018-03-06,2018-03-07,2018-03-08,2018-03-09,2018-03-10,...,2020-07-22,2020-07-23,2020-07-24,2020-07-25,2020-07-26,2020-07-27,2020-07-28,2020-07-29,2020-07-30,2020-07-31
20,86500,52000,92500,48500,100500,31000,19500,14500,48000,24500,...,174000,116000,474000,48000,224000,130000,433000,241000,122000,234000
21,242500,49500,0,57000,65500,0,78000,88000,25000,41000,...,180000,48000,64000,153000,62000,0,12000,95000,63000,271000
22,116000,24000,32000,26000,56000,65000,38500,0,0,126000,...,0,0,0,63000,0,0,0,27000,0,0
23,11000,120000,0,38000,65500,14500,0,5500,0,113000,...,0,0,0,0,0,0,0,0,0,0
합계,1132000,793500,553000,891500,645500,675000,749500,568000,668500,711000,...,1670000,1212000,1562000,1388000,1221000,1247000,1305000,1507000,1700000,1391000

### 첫행 & 마지막행 제거
행 갯수 세기 : len(df)

In [6]:
kk=len(df)
df2 = df.drop([df.index[kk-1]])
df2.tail()

판매일자,2018-03-01,2018-03-02,2018-03-03,2018-03-04,2018-03-05,2018-03-06,2018-03-07,2018-03-08,2018-03-09,2018-03-10,...,2020-07-22,2020-07-23,2020-07-24,2020-07-25,2020-07-26,2020-07-27,2020-07-28,2020-07-29,2020-07-30,2020-07-31
19,92500,46500,106000,67500,17000,213000,106500,202000,59500,101500,...,341000,261000,43000,238000,146000,242000,181000,321000,339000,70000
20,86500,52000,92500,48500,100500,31000,19500,14500,48000,24500,...,174000,116000,474000,48000,224000,130000,433000,241000,122000,234000
21,242500,49500,0,57000,65500,0,78000,88000,25000,41000,...,180000,48000,64000,153000,62000,0,12000,95000,63000,271000
22,116000,24000,32000,26000,56000,65000,38500,0,0,126000,...,0,0,0,63000,0,0,0,27000,0,0
23,11000,120000,0,38000,65500,14500,0,5500,0,113000,...,0,0,0,0,0,0,0,0,0,0

In [7]:
df3 = df2.drop([df2.index[0]])
df3.head()

판매일자,2018-03-01,2018-03-02,2018-03-03,2018-03-04,2018-03-05,2018-03-06,2018-03-07,2018-03-08,2018-03-09,2018-03-10,...,2020-07-22,2020-07-23,2020-07-24,2020-07-25,2020-07-26,2020-07-27,2020-07-28,2020-07-29,2020-07-30,2020-07-31
0,54500,6500,6500,40000,0,16000,13000,13500,17000,28000,...,0,0,0,0,0,0,0,0,0,0
1,0,40500,0,21500,0,0,17000,17000,320000,0,...,0,0,0,0,0,0,0,0,0,0
2,75500,0,0,131000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 날짜를 각 시간대의 열으로 넣기
열 추가 : df2['새로운 열 이름']=넣을 값 \
열 갯수 세기 : len(df2.columns) \
열 이름 리스트로 : df2.columns.tolist() \
열 삭제 : df.drop(['없앨 열의 이름'],axis='columns')

In [8]:
col = df3.columns.tolist()
# df4 = pd.melt(df3, col, var_name='날짜')

In [9]:
# df4 = df3
# col4 = df4.columns.tolist()
# df4['날짜'+str(0)] = col4[0]
# tmp=col4[len(col4)-1]
# del col4[len(col4)-1]
# col4.insert(0,tmp)
# df4=df4[col4]
# df4.head()

In [10]:
df4 = df3.copy()
col4 = df4.columns.tolist()

for num in range(0,len(col4)) : 
    df4['날짜'+str(num)] = col4[num]
    col_n = df4.columns.tolist()
    tmp = col_n[len(col_n)-1]
    del col_n[len(col_n)-1]
    df4.drop(['날짜'+str(num)],axis='columns')
#     df4.drop([df4.index[len(col4)]])
    col_n.insert(2*num,tmp)
    df4=df4[col_n]
df4.head()

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

판매일자,날짜0,2018-03-01,날짜1,2018-03-02,날짜2,2018-03-03,날짜3,2018-03-04,날짜4,2018-03-05,...,날짜879,2020-07-27,날짜880,2020-07-28,날짜881,2020-07-29,날짜882,2020-07-30,날짜883,2020-07-31
0,2018-03-01,54500,2018-03-02,6500,2018-03-03,6500,2018-03-04,40000,2018-03-05,0,...,2020-07-27,0,2020-07-28,0,2020-07-29,0,2020-07-30,0,2020-07-31,0
1,2018-03-01,0,2018-03-02,40500,2018-03-03,0,2018-03-04,21500,2018-03-05,0,...,2020-07-27,0,2020-07-28,0,2020-07-29,0,2020-07-30,0,2020-07-31,0
2,2018-03-01,75500,2018-03-02,0,2018-03-03,0,2018-03-04,131000,2018-03-05,0,...,2020-07-27,0,2020-07-28,0,2020-07-29,0,2020-07-30,0,2020-07-31,0
3,2018-03-01,0,2018-03-02,0,2018-03-03,0,2018-03-04,0,2018-03-05,0,...,2020-07-27,0,2020-07-28,0,2020-07-29,0,2020-07-30,0,2020-07-31,0
4,2018-03-01,0,2018-03-02,0,2018-03-03,0,2018-03-04,0,2018-03-05,0,...,2020-07-27,0,2020-07-28,0,2020-07-29,0,2020-07-30,0,2020-07-31,0

In [33]:
# len(df4.columns)

In [34]:
# pd.DataFrame(df4.iloc[:, 1])

### 시간(0~23)순으로 쭉 나열 : column 두 개씩 뽑아서 아래에 붙이기

In [23]:
refine_df = pd.DataFrame()
for i in range(1, len(df4.columns), 2):
    temp_df = pd.DataFrame(df4.iloc[:, i])
    temp_df.columns = ['매출액']
    refine_df = pd.concat([refine_df, temp_df])
    print(i, '/', len(df4.columns))

1 / 1768
3 / 1768
5 / 1768
7 / 1768
9 / 1768
11 / 1768
13 / 1768
15 / 1768
17 / 1768
19 / 1768
21 / 1768
23 / 1768
25 / 1768
27 / 1768
29 / 1768
31 / 1768
33 / 1768
35 / 1768
37 / 1768
39 / 1768
41 / 1768
43 / 1768
45 / 1768
47 / 1768
49 / 1768
51 / 1768
53 / 1768
55 / 1768
57 / 1768
59 / 1768
61 / 1768
63 / 1768
65 / 1768
67 / 1768
69 / 1768
71 / 1768
73 / 1768
75 / 1768
77 / 1768
79 / 1768
81 / 1768
83 / 1768
85 / 1768
87 / 1768
89 / 1768
91 / 1768
93 / 1768
95 / 1768
97 / 1768
99 / 1768
101 / 1768
103 / 1768
105 / 1768
107 / 1768
109 / 1768
111 / 1768
113 / 1768
115 / 1768
117 / 1768
119 / 1768
121 / 1768
123 / 1768
125 / 1768
127 / 1768
129 / 1768
131 / 1768
133 / 1768
135 / 1768
137 / 1768
139 / 1768
141 / 1768
143 / 1768
145 / 1768
147 / 1768
149 / 1768
151 / 1768
153 / 1768
155 / 1768
157 / 1768
159 / 1768
161 / 1768
163 / 1768
165 / 1768
167 / 1768
169 / 1768
171 / 1768
173 / 1768
175 / 1768
177 / 1768
179 / 1768
181 / 1768
183 / 1768
185 / 1768
187 / 1768
189 / 1768
191 / 1768
193 / 1768
195 / 1768
197 / 1768
199 / 1768
201 / 1768
203 / 1768
205 / 1768
207 / 1768
209 / 1768
211 / 1768
213 / 1768
215 / 1768
217 / 1768
219 / 1768
221 / 1768
223 / 1768
225 / 1768
227 / 1768
229 / 1768
231 / 1768
233 / 1768
235 / 1768
237 / 1768
239 / 1768
241 / 1768
243 / 1768
245 / 1768
247 / 1768
249 / 1768
251 / 1768
253 / 1768
255 / 1768
257 / 1768
259 / 1768
261 / 1768
263 / 1768
265 / 1768
267 / 1768
269 / 1768
271 / 1768
273 / 1768
275 / 1768
277 / 1768
279 / 1768
281 / 1768
283 / 1768
285 / 1768
287 / 1768
289 / 1768
291 / 1768
293 / 1768
295 / 1768
297 / 1768
299 / 1768
301 / 1768
303 / 1768
305 / 1768
307 / 1768
309 / 1768
311 / 1768
313 / 1768
315 / 1768
317 / 1768
319 / 1768
321 / 1768
323 / 1768
325 / 1768
327 / 1768
329 / 1768
331 / 1768
333 / 1768
335 / 1768
337 / 1768
339 / 1768
341 / 1768
343 / 1768
345 / 1768
347 / 1768
349 / 1768
351 / 1768
353 / 1768
355 / 1768
357 / 1768
359 / 1768
361 / 1768
363 / 1768
365 / 1768
367 / 1768
369 / 1768
371 / 1768
373 / 1768
375 / 1768
377 / 1768
379 / 1768
381 / 1768
383 / 1768
385 / 1768
387 / 1768
389 / 1768
391 / 1768
393 / 1768
395 / 1768
397 / 1768
399 / 1768
401 / 1768
403 / 1768
405 / 1768
407 / 1768
409 / 1768
411 / 1768
413 / 1768
415 / 1768
417 / 1768
419 / 1768
421 / 1768
423 / 1768
425 / 1768
427 / 1768
429 / 1768
431 / 1768
433 / 1768
435 / 1768
437 / 1768
439 / 1768
441 / 1768
443 / 1768
445 / 1768
447 / 1768
449 / 1768
451 / 1768
453 / 1768
455 / 1768
457 / 1768
459 / 1768
461 / 1768
463 / 1768
465 / 1768
467 / 1768
469 / 1768
471 / 1768
473 / 1768
475 / 1768
477 / 1768
479 / 1768
481 / 1768
483 / 1768
485 / 1768
487 / 1768
489 / 1768
491 / 1768
493 / 1768
495 / 1768
497 / 1768
499 / 1768
501 / 1768
503 / 1768
505 / 1768
507 / 1768
509 / 1768
511 / 1768
513 / 1768
515 / 1768
517 / 1768
519 / 1768
521 / 1768
523 / 1768
525 / 1768
527 / 1768
529 / 1768
531 / 1768
533 / 1768
535 / 1768
537 / 1768
539 / 1768
541 / 1768
543 / 1768
545 / 1768
547 / 1768
549 / 1768
551 / 1768
553 / 1768
555 / 1768
557 / 1768
559 / 1768
561 / 1768
563 / 1768
565 / 1768
567 / 1768
569 / 1768
571 / 1768
573 / 1768
575 / 1768
577 / 1768
579 / 1768
581 / 1768
583 / 1768
585 / 1768
587 / 1768
589 / 1768
591 / 1768
593 / 1768
595 / 1768
597 / 1768
599 / 1768
601 / 1768
603 / 1768
605 / 1768
607 / 1768
609 / 1768
611 / 1768
613 / 1768
615 / 1768
617 / 1768
619 / 1768
621 / 1768
623 / 1768
625 / 1768
627 / 1768
629 / 1768
631 / 1768
633 / 1768
635 / 1768
637 / 1768
639 / 1768
641 / 1768
643 / 1768
645 / 1768
647 / 1768
649 / 1768
651 / 1768
653 / 1768
655 / 1768
657 / 1768
659 / 1768
661 / 1768
663 / 1768
665 / 1768
667 / 1768
669 / 1768
671 / 1768
673 / 1768
675 / 1768
677 / 1768
679 / 1768
681 / 1768
683 / 1768
685 / 1768
687 / 1768
689 / 1768
691 / 1768
693 / 1768
695 / 1768
697 / 1768
699 / 1768
701 / 1768
703 / 1768
705 / 1768
707 / 1768
709 / 1768
711 / 1768
713 / 1768
715 / 1768
717 / 1768
719 / 1768
721 / 1768
723 / 1768
725 / 1768
727 / 1768
729 / 1768
731 / 1768
733 / 1768
735 / 1768
737 / 1768
739 / 1768
741 / 1768
743 / 1768
745 / 1768
747 / 1768
749 / 1768
751 / 1768
753 / 1768
755 / 1768
757 / 1768
759 / 1768
761 / 1768
763 / 1768
765 / 1768
767 / 1768
769 / 1768
771 / 1768
773 / 1768
775 / 1768
777 / 1768
779 / 1768
781 / 1768
783 / 1768
785 / 1768
787 / 1768
789 / 1768
791 / 1768
793 / 1768
795 / 1768
797 / 1768
799 / 1768
801 / 1768
803 / 1768
805 / 1768
807 / 1768
809 / 1768
811 / 1768
813 / 1768
815 / 1768
817 / 1768
819 / 1768
821 / 1768
823 / 1768
825 / 1768
827 / 1768
829 / 1768
831 / 1768
833 / 1768
835 / 1768
837 / 1768
839 / 1768
841 / 1768
843 / 1768
845 / 1768
847 / 1768
849 / 1768
851 / 1768
853 / 1768
855 / 1768
857 / 1768
859 / 1768
861 / 1768
863 / 1768
865 / 1768
867 / 1768
869 / 1768
871 / 1768
873 / 1768
875 / 1768
877 / 1768
879 / 1768
881 / 1768
883 / 1768
885 / 1768
887 / 1768
889 / 1768
891 / 1768
893 / 1768
895 / 1768
897 / 1768
899 / 1768
901 / 1768
903 / 1768
905 / 1768
907 / 1768
909 / 1768
911 / 1768
913 / 1768
915 / 1768
917 / 1768
919 / 1768
921 / 1768
923 / 1768
925 / 1768
927 / 1768
929 / 1768
931 / 1768
933 / 1768
935 / 1768
937 / 1768
939 / 1768
941 / 1768
943 / 1768
945 / 1768
947 / 1768
949 / 1768
951 / 1768
953 / 1768
955 / 1768
957 / 1768
959 / 1768
961 / 1768
963 / 1768
965 / 1768
967 / 1768
969 / 1768
971 / 1768
973 / 1768
975 / 1768
977 / 1768
979 / 1768
981 / 1768
983 / 1768
985 / 1768
987 / 1768
989 / 1768
991 / 1768
993 / 1768
995 / 1768
997 / 1768
999 / 1768
1001 / 1768
1003 / 1768
1005 / 1768
1007 / 1768
1009 / 1768
1011 / 1768
1013 / 1768
1015 / 1768
1017 / 1768
1019 / 1768
1021 / 1768
1023 / 1768
1025 / 1768
1027 / 1768
1029 / 1768
1031 / 1768
1033 / 1768
1035 / 1768
1037 / 1768
1039 / 1768
1041 / 1768
1043 / 1768
1045 / 1768
1047 / 1768
1049 / 1768
1051 / 1768
1053 / 1768
1055 / 1768
1057 / 1768
1059 / 1768
1061 / 1768
1063 / 1768
1065 / 1768
1067 / 1768
1069 / 1768
1071 / 1768
1073 / 1768
1075 / 1768
1077 / 1768
1079 / 1768
1081 / 1768
1083 / 1768
1085 / 1768
1087 / 1768
1089 / 1768
1091 / 1768
1093 / 1768
1095 / 1768
1097 / 1768
1099 / 1768
1101 / 1768
1103 / 1768
1105 / 1768
1107 / 1768
1109 / 1768
1111 / 1768
1113 / 1768
1115 / 1768
1117 / 1768
1119 / 1768
1121 / 1768
1123 / 1768
1125 / 1768
1127 / 1768
1129 / 1768
1131 / 1768
1133 / 1768
1135 / 1768
1137 / 1768
1139 / 1768
1141 / 1768
1143 / 1768
1145 / 1768
1147 / 1768
1149 / 1768
1151 / 1768
1153 / 1768
1155 / 1768
1157 / 1768
1159 / 1768
1161 / 1768
1163 / 1768
1165 / 1768
1167 / 1768
1169 / 1768
1171 / 1768
1173 / 1768
1175 / 1768
1177 / 1768
1179 / 1768
1181 / 1768
1183 / 1768
1185 / 1768
1187 / 1768
1189 / 1768
1191 / 1768
1193 / 1768
1195 / 1768
1197 / 1768
1199 / 1768
1201 / 1768
1203 / 1768
1205 / 1768
1207 / 1768
1209 / 1768
1211 / 1768
1213 / 1768
1215 / 1768
1217 / 1768
1219 / 1768
1221 / 1768
1223 / 1768
1225 / 1768
1227 / 1768
1229 / 1768
1231 / 1768
1233 / 1768
1235 / 1768
1237 / 1768
1239 / 1768
1241 / 1768
1243 / 1768
1245 / 1768
1247 / 1768
1249 / 1768
1251 / 1768
1253 / 1768
1255 / 1768
1257 / 1768
1259 / 1768
1261 / 1768
1263 / 1768
1265 / 1768
1267 / 1768
1269 / 1768
1271 / 1768
1273 / 1768
1275 / 1768
1277 / 1768
1279 / 1768
1281 / 1768
1283 / 1768
1285 / 1768
1287 / 1768
1289 / 1768
1291 / 1768
1293 / 1768
1295 / 1768
1297 / 1768
1299 / 1768
1301 / 1768
1303 / 1768
1305 / 1768
1307 / 1768
1309 / 1768
1311 / 1768
1313 / 1768
1315 / 1768
1317 / 1768
1319 / 1768
1321 / 1768
1323 / 1768
1325 / 1768
1327 / 1768
1329 / 1768
1331 / 1768
1333 / 1768
1335 / 1768
1337 / 1768
1339 / 1768
1341 / 1768
1343 / 1768
1345 / 1768
1347 / 1768
1349 / 1768
1351 / 1768
1353 / 1768
1355 / 1768
1357 / 1768
1359 / 1768
1361 / 1768
1363 / 1768
1365 / 1768
1367 / 1768
1369 / 1768
1371 / 1768
1373 / 1768
1375 / 1768
1377 / 1768
1379 / 1768
1381 / 1768
1383 / 1768
1385 / 1768
1387 / 1768
1389 / 1768
1391 / 1768
1393 / 1768
1395 / 1768
1397 / 1768
1399 / 1768
1401 / 1768
1403 / 1768
1405 / 1768
1407 / 1768
1409 / 1768
1411 / 1768
1413 / 1768
1415 / 1768
1417 / 1768
1419 / 1768
1421 / 1768
1423 / 1768
1425 / 1768
1427 / 1768
1429 / 1768
1431 / 1768
1433 / 1768
1435 / 1768
1437 / 1768
1439 / 1768
1441 / 1768
1443 / 1768
1445 / 1768
1447 / 1768
1449 / 1768
1451 / 1768
1453 / 1768
1455 / 1768
1457 / 1768
1459 / 1768
1461 / 1768
1463 / 1768
1465 / 1768
1467 / 1768
1469 / 1768
1471 / 1768
1473 / 1768
1475 / 1768
1477 / 1768
1479 / 1768
1481 / 1768
1483 / 1768
1485 / 1768
1487 / 1768
1489 / 1768
1491 / 1768
1493 / 1768
1495 / 1768
1497 / 1768
1499 / 1768
1501 / 1768
1503 / 1768
1505 / 1768
1507 / 1768
1509 / 1768
1511 / 1768
1513 / 1768
1515 / 1768
1517 / 1768
1519 / 1768
1521 / 1768
1523 / 1768
1525 / 1768
1527 / 1768
1529 / 1768
1531 / 1768

1533 / 1768
1535 / 1768
1537 / 1768
1539 / 1768
1541 / 1768
1543 / 1768
1545 / 1768
1547 / 1768
1549 / 1768
1551 / 1768
1553 / 1768
1555 / 1768
1557 / 1768
1559 / 1768
1561 / 1768
1563 / 1768
1565 / 1768
1567 / 1768
1569 / 1768
1571 / 1768
1573 / 1768
1575 / 1768
1577 / 1768
1579 / 1768
1581 / 1768
1583 / 1768
1585 / 1768
1587 / 1768
1589 / 1768
1591 / 1768
1593 / 1768
1595 / 1768
1597 / 1768
1599 / 1768
1601 / 1768
1603 / 1768
1605 / 1768
1607 / 1768
1609 / 1768
1611 / 1768
1613 / 1768
1615 / 1768
1617 / 1768
1619 / 1768
1621 / 1768
1623 / 1768
1625 / 1768
1627 / 1768
1629 / 1768
1631 / 1768
1633 / 1768
1635 / 1768
1637 / 1768
1639 / 1768
1641 / 1768
1643 / 1768
1645 / 1768
1647 / 1768
1649 / 1768
1651 / 1768
1653 / 1768
1655 / 1768
1657 / 1768
1659 / 1768
1661 / 1768
1663 / 1768
1665 / 1768
1667 / 1768
1669 / 1768
1671 / 1768
1673 / 1768
1675 / 1768
1677 / 1768
1679 / 1768
1681 / 1768
1683 / 1768
1685 / 1768
1687 / 1768
1689 / 1768
1691 / 1768
1693 / 1768
1695 / 1768
1697 / 1768
1699 / 1768
1701 / 1768
1703 / 1768
1705 / 1768
1707 / 1768
1709 / 1768
1711 / 1768
1713 / 1768
1715 / 1768
1717 / 1768
1719 / 1768
1721 / 1768
1723 / 1768
1725 / 1768
1727 / 1768
1729 / 1768
1731 / 1768
1733 / 1768
1735 / 1768
1737 / 1768
1739 / 1768
1741 / 1768
1743 / 1768
1745 / 1768
1747 / 1768
1749 / 1768
1751 / 1768
1753 / 1768
1755 / 1768
1757 / 1768
1759 / 1768
1761 / 1768
1763 / 1768
1765 / 1768
1767 / 1768

In [30]:
date_df = pd.DataFrame()
for i in range(0, len(df4.columns), 2):
    temp_df = pd.DataFrame(df4.iloc[:, i])
    temp_df.columns = ['날짜']
    date_df = pd.concat([date_df, temp_df])

In [35]:
final = pd.concat([date_df, refine_df], axis = 1)

In [37]:
final.to_excel('C:\\yehuikim\\2020summer프로젝트2\\데이터셋\\feature_data\\시간대별_매출_신서점_전처리완료.xlsx')

In [36]:
# cols=df4.columns.tolist()
# df_0=df4[[cols[0],cols[1]]].copy()
# total = pd.DataFrame(columns=range(2))
# for num in range(0,int(len(cols)/2)):
#     temp=df4[[cols[num*2],cols[num*2+1]]].copy()
#     temp = pd.concat([dff+(2*num-2)],[dff+(2*num-1)], axis=1)
#     total = pd.concat([total, temp], axis=1)
#     total = pd.concat([total, temp])
# total.tail()
# for num in range():
#     pd.concat([num, num+1], axis=1)